.DS_Store
.ansible
.bundle
.envrc
.github/
.idea/
.travis.yml
.vagrant
npm-debug.log
package.box
playbook.retry
# ignore everything in the root (html directory) except the "wp-content" directory.
wordpress/*
!wordpress/wp-content
# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress/wp-content/*
!wordpress/wp-content/mu-plugins/
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/
# ignore these plugins
wordpress/wp-content/plugins/hello.php
# ignore specific themes
wordpress/wp-content/themes/twenty*/
# ignore node dependency directories
node_modules/
# ignore log files and databases
*.log
*.sql
*.sqlite
#ignore specific files
.DS_Store
.bashrc
.cloud-locale-test.skip
.digitalocean_password
site.yml
# large/disallowed file types
.mp4
.pdf
