h1 {
  color: mediumaquamarine;
}
p {
  color: black;
  font-family: $font-family-base;
  font-size: 11px;
}
.promos {
  .col-md-5 {
    height: 70vh;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    padding: 0;
  }
  .promo-link {
    background-color: #fff;
    padding: 25px;
    width: 50%;
    margin-bottom: -10px;
    .btn {
      background-color: #fff;
      color: #000;
      padding: 15px;
      width: 100%;
      border: 2px solid black;
      border-radius: 0% !important;
      font-weight: 600;
      text-transform: uppercase;
    }
    .btn:hover {
      background-color: #000;
      color: white;
    }
  }
}
.Shopify {
  .col-md-3, .col-md-4 {
    padding-bottom: 15px;
    margin: 0 10px;
    p {
      justify-self: left;
    }
  }
  .img-div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 360px; /* or other desired height */
    overflow: hidden;
    flex-wrap: wrap;
  }
  img {
    flex: none;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .promo-link {
    background-color: #fff !important;
    padding: 25px !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    .btn {
      background-color: #000 !important;
      color: #fff !important;
      width: 75% !important;
      border: 2px solid black !important;
    }
  }
  .col-md-5 {
    height: 35vh;
  }
}
