body {
  overflow-x: hidden;
}
p {
  color: black;
  font-family: $font-family-base;
  font-size: 11px;
}
.promos {
  .col-md-5 {
    height: 70vh;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px 0px;
    padding: 0;
  }
  .promo-link {
    background-color: #fff;
    padding: 25px;
    width: 50%;
    margin-bottom: -10px;
    .btn {
      background-color: #fff;
      color: #000;
      padding: 15px;
      width: 100%;
      border: 2px solid black;
      border-radius: 0% !important;
      font-weight: 600;
      text-transform: uppercase;
    }
    .btn:hover {
      background-color: #000;
      color: white;
    }
  }
}

.Shopify {
  .col-md-3, .col-md-4 {
    padding-bottom: 15px;
    margin: 0 10px;
    p {
      justify-self: left;
    }
  }
  .img-div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 360px; /* or other desired height */
    overflow: hidden;
    flex-wrap: wrap;
  }
  img {
    flex: none;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .promo-link {
    background-color: #fff !important;
    padding: 25px !important;
    width: 100% !important;
    position: relative !important;
    bottom: 0% !important;
    left: 0% !important;
    .btn {
      background-color: #000 !important;
      color: #fff !important;
      width: 75% !important;
      border: 2px solid black !important;
    }
  }
  .col-md-5 {
    height: 35vh;
  }
}
html {
  scroll-behavior: smooth;
}
.slider-wrapper {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3,100%);
  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin: 20px 0;
    .item img {
      width: 25vw;
      padding: 0 2px;
    }
    a {
      position: absolute;
      text-decoration: none;
      color: black;
      font-size: 3em;
      background-color: white;
      padding: 0 5px;
      height: 25%;
      text-align: center;
      z-index: 1;
      border: 1px solid black;
      &:nth-of-type(1) {
        top: 40%; bottom: 0; right: 0;
      }
      &:nth-of-type(2) {
        top: 40%; bottom: 0; left: 0;
      }
    }
    /* this was just used to make a background color*/
    /* &:nth-child(1) {
      background-color: cyan;
    }
    &:nth-child(2) {
      background-color: magenta;
    }
    &:nth-child(3) {
      background-color: teal;
    }*/
  }
}
