/**
 * partials/header
 * ---
 */


// Header container
.header {}

// Logo
.logo {
  width: 35%;
  max-width: 160px;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 7%;
}

.logo-img {}

//Header
.Promo
{
  background-color: black;
  color: #FFFFFF;
  font-size: 14px;
  font-family: Futura-pt, arial, sans-serif;
  .percent
  {
    height: 5vh;
    a
    {
      text-decoration: none;
    }
    p
    {
      padding: 0;
      margin: 0;
    }
  }
}

.Nav
{
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: Futura-pt, arial, sans-serif;
  .links
  {
    height: 10vh;
    a
    {
      display: inline;
      text-decoration: none;
      color: black;
      padding: 34px 24px 32px;
    }
    p
    {
      padding: 0;
      margin: 0;
    }
  }
}

.NavTwo
{
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: Futura-pt, arial, sans-serif;
  .links
  {
    height: 10vh;
    a
    {
      display: inline;
      text-decoration: none;
      color: black;
      padding: 34px 24px 32px;
    }
    p
    {
      padding: 0;
      margin: 0;
    }
  }
  .h
  {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #e8e8e8;
  }
}

.HeroOne
{
  height: 95vh;
  background-color: greenyellow;
  .heroBanner
  {
    .yoo
    {
      background-color: red;
      margin: 0;
    }
    a
    {
      padding: 0;
      margin: 0;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .Nav
  {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .NavTwo
  {
    display: none;
  }
}
